body {
background-color: lightgray;
margin: 0;
width: 100%
}
#header {
height: 130px;
background-color: darkblue;
margin: 0;
position: relative;
top: -26px;
}
#bigbox {
background-color: white;
position: relative;
left: 30px;
top: 20px;
height: 250px;
width: 97%
}
#smallbar {
background-color: white;
height: 50px;
border: 2px solid black;
width: 90%;
position: relative;
left: 90px;
top: 80px;
}
#calendar {
width: 150px; 
height: 150px; 
position: relative;
display: inline;
}
#assignment {
width: 150px; 
height: 150px; 
position: relative; 
left: 20px;
top: 10px;
display: inline;
}
#chat {
width: 150px;
height: 150px; 
position: relative; 
left: 30px;
top: 10px;
display: inline;
}
#team {
width: 150px; 
height: 150px; 
position: relative;
left: 40px;
top: 10px;
display: inline;
}
#call {
width: 150px; 
height: 150px; 
position: relative; 
left: 50px;
top: 10px;
display: inline;
}
#logo {
color: white;
margin: 0;
position: relative;
top: 45px;
left: 790px;
display: inline;
}
#bigbox-header {
position: relative;
left: 80px;
top: 80px;
}
#bigbox-text {
position: relative;
left: 80px;
top: 80px;
}
@media screen and (max-width: 950px) {
#header {
width: 100%;
margin: 0;
}
#logo {
position: relative;
left: 350px;
top: 60px;
display: inline;
}
#calendar {
width: 150px;
height: 150px;
position: relative;
}
#bigbox {
position: relative;
width: 400px;
height: 250px;
left: 500px;
}
#smallbar {
height: 50px;
width: 300px;
position: relative;
left: 85px;
top: 90px;
}
} 
    
